.mon {
    width: 400px;
    height: 400px;
    position: relative;
    /* border: 1px solid black; */
    margin: 0 auto;/* 置中 */
    background-color: rgb(164, 249, 252);
}
.msg{
    position: absolute;
    width: 400px;
    height: 400px;
    /* border: 1px solid blue; */
    margin: 0 auto 0 auto;
}
.msg-a,.msg-b{
    text-align: center;
    width: 380px;
    height: 180px;
    /* border: 1px solid red; */
    margin: 0 auto;
    font-size: 30px;
    line-height: 90px;
}
.pixels {
    width: 10px;
    height: 10px;
    float: left;
}
.pixels.taken{
    background-color: #000000;
}
.test{
    width: 50px;
    height: 50px;
    background-color: black;
}
.test123{
    width: 500px;
    height: 500px;
    background-color: rgb(0, 0, 0);
}
