.context {
  padding-bottom: 50px;
}
.centertext{
  text-align: center;
  padding-top: 50px;
  line-height: 1.3;
  margin-bottom: 20px;
}
.centertext h2{
  font-size: 40px;
}
.centertext h5{
  font-size: 20px;
}

.form {
  width: 50%;
  text-align: center;
  margin: auto;
  border-top:2px solid rgb(194, 74, 0);
  box-shadow:3px 3px 4px 2px rgba(0, 0, 0, 0.16);
  background-color: rgba(249, 235, 235, 0.79);
}
.form h5{
  text-align: center;
  font-size: 40px;
  padding-top: 30px;
}

.login_box{
  width: 50%;
  margin: auto;
  margin-top: 30px;
}
.login_box input{
  width: 100%;
  height: 30px;
  margin-top: 5px;
  border-radius: 10px;
  border: 2px solid #cccccc;
  padding-left: 10px;
  
}
.login_box p{
  font-weight: 500;
  margin-top: 10px;
  text-align-last: left;
}
.submit{
  padding-bottom: 30px;
}
.submit input{
  width: 125px;
  border-radius: 10px;
  background-color:rgb(159, 143, 143);
  color: rgb(72, 39, 39);
  font-size: 14px;
  border: 0;
  margin-top: 20px;
}

@media (max-width:767px) {
  .form{
    width: 80%;
  }
}

